@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --main-bg-color: #2874f0;
}

* {
    margin: 0;
    padding: 0;
}

header {

    background: var(--main-bg-color);
    font-family: "Lato", sans-serif;
}

nav {
    display: flex;
    
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 180px;
    padding: 0 25;
    
}


nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    /* color: rgb(188, 209, 241); */
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 30vw;
    height: 23px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}

.search button {
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

.slider {
    margin: auto;
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
    /* background-size: cover; */
}

.card {
    max-width: 91vw;
    margin: 37px auto;
}

.cards {
    display: flex;
    justify-content: center;
}

.card-item {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 7px;
}

.card h2 {
    font-family: "Lato", sans-serif;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

footer {
    height: 8vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: "Lato", sans-serif;
}